annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
appdirs==1.4.4
arrow==1.3.0
atproto==0.0.62
attrs==25.4.0
binaryornot==0.4.4
build==1.3.0
cachetools==6.2.0
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.8
cookiecutter==2.6.0
cryptography==45.0.7
dnspython==2.8.0
dotenv==0.9.9
dynaconf==3.2.11
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.6
kedro==1.0.0
kedro-telemetry==0.6.5
libipld==3.1.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
omegaconf==2.3.0
packaging==25.0
parse==1.20.2
pluggy==1.6.0
pycparser==2.23
pydantic==2.12.0
pydantic_core==2.41.1
Pygments==2.19.2
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-slugify==8.0.4
PyYAML==6.0.3
requests==2.32.5
rich==14.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
text-unidecode==1.3
toml==0.10.2
tomli_w==1.2.0
types-python-dateutil==2.9.0.20251008
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
websockets==13.1
zipp==3.23.0
